<div class="container mt-5">
  <div class="text-center mb-5">
    <h1 class="text-black">Consumiendo Api Start Wars</h1>
    <h2 class="text-danger">Rxjs y Observables</h2>
  </div>

  <h4 class="text-muted">Rxjs en HTTP</h4>
  <hr>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/c3po-1540315524.jpg?crop=1.00xw:0.283xh;0,0.00552xh&resize=640:*"
          alt="personajeMerge.nombre">

        <ng-template [ngIf]="loading">
          <div class="text-center mt-5 mb-5">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

        <ng-template [ngIf]="!loading">
          <div class="card-body">
            <h5 class="card-title">{{ personajeMerge.nombre }}</h5>
            <p class="card-text">
              {{ personajeMerge.descripcion}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Altura: {{ personajeMerge.altura }}</li>
            <li class="list-group-item">Ojos: {{ personajeMerge.ojos }}</li>
            <li class="list-group-item">Especie: {{ personajeMerge.especie }}</li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>

  <h4 class="mt-5 text-muted">Rxjs en Formularios</h4>
  <hr>

  <form [formGroup]="form" class="row g-3">
    <div class="col-auto">
      <label for="name" class="visually-hidden">Nombre</label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="nombre">
    </div>
    <div class="col-auto">
      <label for="age" class="visually-hidden">Edad</label>
      <input type="text" formControlName="age" class="form-control" id="age" placeholder="edad">
    </div>
    <div class="col-auto">
      <button (click)="filter()" type="submit" class="btn btn-primary mb-3">Filtrar</button>
    </div>
  </form>

  <pre>
    {{ form.value | json}}
  </pre>

  <h6 class="text-muted">Componentes:</h6>
  <app-report1></app-report1>
  <hr>
  <app-report2></app-report2>

</div>